# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo

# Ignore environment-specific files
*.env
*.venv
venv/
env/
env.bak/

# Ignore client secret file
client_secret.json

# Ignore log files
script_log.txt

# Ignore IDE/Editor files
.idea/
.vscode/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore requirements.txt if you're managing dependencies elsewhere (e.g., in Docker)
# requirements.txt
